/* ----- colors ----- */

.background { color: #282c34 }
.current-line { color: #99bbff }
.normal { color: #abb2bf }
.keyword { color: #c678dd }
.comment { color: #5c6370 }
.string { color: #98c379 }
.number { color: #d19a66 }


/* ----- style html elements -----*/
body {
    box-sizing: border-box;
    height: 100vh;
    max-height: calc(100vh - 40px);
    margin: 20px;
    border: 3px solid #c678dd;
    background: #282c34;

}

p { 
    margin: 0;
    white-space:pre;
}


/* ----- scrollbar ----- */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgba(90, 90, 90);
    border: solid 3px transparent;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.2);
    border: solid 3px transparent;
}


/* ----- terminal ----- */
.terminal {
    padding: 20px 20px 20px 20px;
    overflow: auto;
    height: calc(100% - 40px);
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15px;
    margin: 10px;
}


/* ----- banner ----- */
.banner { 
    color: #abb2bf;
    margin-bottom: 10px;
}

.banner-image { color: #abb2bf }

.banner-text { color: #98c379 }

.penguin { color: #d19a66 }


/* ----- command ----- */
.command {
    color: #abb2bf;
    margin-bottom: 10px;
}

.command::before { content: "guest@fernandorego.io:~$ "; }

#current-command { color: #99bbff !important; }

.command-text { color: #abb2bf; }

.cursor {
    position: relative;
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
    50% { opacity: 0; }
}
